@using Microsoft.AspNetCore.Identity
@using IdentityMessageBoard.Models

@inject UserManager<ApplicationUser> UserManager

<form method="post" action="/messages/create">
    <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
    <div>
        <label for="Content">Content</label>
        <input type="text" name="Content" />
    </div>
    <div>
        <label for="ExpiresIn">Exires in (num days)</label>
        <input type="number" name="ExpiresIn" />
    </div>
    <button type="submit">Create</button>
</form>
